<div class="modal-header clearfix">
    <div class="modal-header-name pull-left">
        Forgot password
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></button>
</div>
<div class="modal-body forgot-password">
    <label>To reset your password, enter the email address you use to sign in</label>
    <div class="form-sm-wrapper">
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="example@email.com" ng-model="PasswordForgot.Email">
            <div ng-show="error" class="alert alert-danger">
                <p ng-repeat='item in error'>
                    {{item}}
                </p>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm-width" ng-click="forgot()">Reset password</button>
    </div>
</div>
