<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cdkwebsiteapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cdkwebsiteapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CdkWebsiteApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CdkWebsiteApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ExcludeFilesFromDeployment>App\**\*.js;NOT App\js\*.js;Scripts\**\*.js</ExcludeFilesFromDeployment>
    <ExcludeFoldersFromDeployment>
      _HtmlDesign
    </ExcludeFoldersFromDeployment>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CDKDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=rahss2wjr0.database.windows.net;Initial Catalog=cdk_prd01_db;User ID=itexus_1;Password=bpK4ZmV48p4x47k;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;Application Name=EntityFramework;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="Data Source=rahss2wjr0.database.windows.net;Initial Catalog=cdk_prd01_db;User ID=itexus_1;Password=bpK4ZmV48p4x47k;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=(local);Initial Catalog=test_CDK_DB;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CDKDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(local);initial catalog=test_CDK_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CDKDbContext-Web.config Connection String">
      <ParameterValue>data source=rahss2wjr0.database.windows.net;initial catalog=cdk_prd01_db;user id=itexus_1;password=bpK4ZmV48p4x47k;connect timeout=15;encrypt=False;trustservercertificate=True;applicationintent=ReadWrite;multisubnetfailover=False;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>