<div ng-if="snipper" >
<spinner></spinner>
</div>
<div ng-if="!snipper">
    <section class="medium-content " ng-if="!kindview">

        <div class="container" id="details-modal">
            <div class="row details-row">
                <div class="col-xs-12 col-sm-8 details-content-col">
                    <div style="margin-top: {{data.Price!=null?-35:0}}px">
                        <div class="object-review">
                            <div class="slider-price" ng-if="data.Price!=null"><sup>$</sup>{{data.Price | currency:"":0}}
                            </div>
                            <slick-slider images="images" number-loaded="numberLoaded"></slick-slider>
                        </div>

                    </div>
                    </div>
                <div class="col-xs-12 col-sm-4 details-aside-col">
                    <aside>
                        <div>
                            <listing-details></listing-details>
                            <features ng-if="data.Amenities.length!=0"></features>
                        </div>
                    </aside>

                </div>

            </div>
            <div class="row details-row">
                <div class="col-xs-12 col-sm-8 details-content-col">
                    <div class="object-overview">
                        <div>
                            <uib-tabset>
                                <uib-tab index="0" ng-if="data.SeoDescription.length!=0" heading="Overview">
                                    <tab-overview data="data"></tab-overview>
                                </uib-tab>
                                <uib-tab ng-if="data.NeighborhoodGuide.length!=0" index="1" heading="Neighborhood Guide">
                                </uib-tab>
                            </uib-tabset>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 details-aside-col">

                    <!--<contact-agent></contact-agent>-->
                </div>
            </div>
        </div>
        
        <update-title title="{{data.SeoTitle}} - condodork.com"></update-title>
        <update-meta name="description"
                     content="{{data.SeoKeywords}}">
        </update-meta>

        <update-meta name="keywords"
                     content="{{data.SeoMetaDescription}}">
        </update-meta>
    </section>

    <section class="medium-content" ng-if="kindview">

        <section class="medium-content ">

            <div class="container" id="details-modal">
                <div class="row details-row">
                    <div class="col-xs-12 col-sm-8 details-content-col">
                        <div class="object-review">
                            <div class="clearfix">
                                <div class="object-header-left pull-left">
                                </div>
                                <slick-slider images="images" number-loaded="numberLoaded"></slick-slider>


                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 details-aside-col">
                        <aside>
                            <div>
                                <building-details></building-details>
                                <features ng-if="data.Amenities.length!=0"></features>
                            </div>
                        </aside>
                        <div>
                        </div>
                    </div>
                </div>

                <div class="row details-row">
                    <div class="col-xs-12 col-sm-8 details-content-col">
                        <div class="object-overview">
                            <div>
                                <uib-tabset>
                                    <uib-tab  index="0" heading="Overview">
                                        <tab-overview data="data"></tab-overview>
                                    </uib-tab>
                                    <uib-tab index="1" ng-if="(data.Units | filter : {TransactionType : 'For sale'}).length!=0">
                                        <uib-tab-heading>Unit for Sale <span class="badge">{{(data.Units | filter : {TransactionType : "For sale"}).length }}</span></uib-tab-heading>
                                        <tab-unit-for data="data.Units" type="ForSale"></tab-unit-for>
                                    </uib-tab>
                                    <uib-tab ng-if="(data.Units | filter : {TransactionType : 'For rent'}).length!=0" index="2" heading="Unit for Rent">
                                        <uib-tab-heading>Unit for Rent <span class="badge">{{(data.Units | filter : {TransactionType : "For rent"}).length }}</span></uib-tab-heading>
                                        <tab-unit-for data="data.Units" type="ForRent"></tab-unit-for>
                                    </uib-tab>
                                    <uib-tab ng-if="data.NeighborhoodGuide.length!=0" index="3" heading="Neighborhood Guide">

                                    </uib-tab>
                                </uib-tabset>


                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 details-aside-col">

                        <!--<contact-agent></contact-agent>-->
                    </div>
                </div>
            </div>
        </section>

        <update-title title="{{data.SeoTitle}}"></update-title>
        <update-meta name="description"
                     content="{{data.SeoKeywords}}">
        </update-meta>

        <update-meta name="keywords"
                     content="{{data.SeoMetaDescription}}">
         </update-meta>
    </section>
</div>