<section class="medium-content full-screen  full-screen-menu clearfix">
    <div class="col-md-6 col-md-offset-3">

        <img src="/Content/images/big-logo.png" style="width: 100%;" alt="Logo" />
        <div class="text-center">
            <br />
            <br />
            <br />
            <p>
                <h1><b>Coast to coast, we have the condo for you!</b></h1>
            </p>
            <br />
            <br />
            <br />
            <p>
                <h3>
                    Browse thousands of MLS condo listings for sale, rent, and
                    <br />
                    preconstruction with <b>CondoDork</b>.
                </h3>
            </p>
            <p>
                <h3>
                    Connect with your CondoDork agent to schedule viewings, discus the
                    <br />
                    market and plan your next move.
                </h3>
            </p>
            <br />
            <br />
            <br />
            <button type="button" class="btn btn-primary btn-lg center-block main-button" ng-click="index.openSelectCityModal()">
                Start by Selecting a City
            </button>

            <br />
            <br />
            <br />
        </div>

    </div>
</section>


<update-title title="CondoDork.com: Premium Search and Analysis tool - Condos for sale and Rent on the MLS in Canada"></update-title>
<update-meta name="description"
             content="Search All Condos For Sale & Rent on MLS from all cities and neighborhoods across Canada. Use our Custom aggregated data to gage historical values and trends. Neighbourhood by neighbourhood, we are the condo searchers best friend.">

</update-meta>

<update-meta name="keywords"
             content="Condos For Sale, New Condos For Sale, Lofts, Luxury Condos">

</update-meta>